  .colorStrip {
    margin-top: 10px;
    height: 10px;
    background-color: #e3561382
  }
  .userTable {
    text-align: center;
    border: 1px solid #d9d9d9;  
  }
  .trRow {
    border-top: 1px solid #d9d9d9;
  }
  .br {
    border-right: 1px solid #d9d9d9;
  }
  th {
    background-color: #7872ae;
    padding: 10px;
    color: #fff;
    font-weight: normal;
  }
  td {
    padding: 8px;
    font-size: 13px;
  }
  .sBg {
    background-color: #bad3d4
  }
  .dBg {
    background-color: #fff
  }
  .page {
    margin-top: 20px;
    width: 100%;
    text-align: center
  }
  .page i {
    font-size: 19px!important;
  }
  .page i.disable {
    color: #bbc5c6;
  }
  .page i.enable:hover{
    cursor: pointer;
    color: #7b7bc1;
  }
  .page span{
    vertical-align: top;
    color: black
  }
  input[type='text'] {
    border: 1px solid #ccc;
    border-radius: 4px;
    text-indent: 3px;
    line-height: 15px;
    height: 25px;
  }
  input[type='text']:focus {
    border-color: blue
  }
  input[type='checkbox'] {
    width: 15px;
    height: 15px;
    position: relative;
  }
  input[type='checkbox']:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    text-align: center;
    background-color: #999;
  }
  input[type='checkbox']:checked::before {
    content: '√';
    font-size: 15px;
    line-height: 20px;
    color: #fff;
    background-color: #5aad5a;
  }
  button {
    padding:0 10px;
    height: 30px;
    border-width: 0px;
    border-radius: 5px;
    background-color: #1E90FF;
    cursor: pointer;
    outline: none;
    font-family: Microsoft YaHei;
    color: white;
    font-size: 13px;
  }
  button:hover{
    background-color: #5599FF;
  }
  .danger{
    background-color: red;
  }
  .danger:hover {
    background-color: #dd9f9f
  }
  textarea {
    resize:none
  }
  textarea:focus {
    border-color: #1E90FF
  }
  .br>a {
    color: blue;
    text-decoration: none;
  }
  .br>a:hover {
    color: red
  }
  a {
    text-decoration: none
  }
  .cover {
    z-index: 100;
    background-color: #000000;
    position: absolute;
    opacity: 0.6;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .center {
    position: absolute;
    border-radius: 5px;
    background-color: #fff;
    z-index: 999;
    opacity: 1;
  }
  .center.xm {
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
  }
  .center.m {
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
  }
  .center.free {
    top: 10%;
    left: 35%;
    width: 30%;
  }
  .center.sm {
    top: 38%;
    left: 38%;
    width: 24%;
    height: 24%;
  }
  .center .cover_title{
    text-align: center;
    padding:10px 8px;
    font-weight: 700;
    border-bottom: 2px solid red
  }
  .center .cover_content {
    padding: 15px;
  }
  #cSlot .cover_content{
    border-top: 1px solid #ccc
  }
  .center.free .cover_content {
    padding: 10px 15px 10px 15px
  }
  .center .cover_content>div {
    margin-bottom: 8px;
  }
  .center .cover_content>div>span {
    display: inline-block;
    font-size: 14px;
  }
  .center .cover_content>div>span:first-child {
    color: #ccc;
    font-size: 13px;
    width: 65px;
  }
  .center .cover_img{
    float:right;
    width: 60px;
    height: 60px;
  }
  .icon {
    color: #5599ff
  }
  .icon:hover {
    color: #ccc;
    cursor: pointer
  }
  .cover_tip {
    text-align: center;
    color: #b5647b;
    height: 50px;
    line-height: 50px;  
  }