.clear:after {
  clear: both;
  content: '.';
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none !important;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #cccccc;
  text-decoration-line: underline;
}
a:hover {
  color: red;
}
.disabled {
  background-color: #cccccc;
  color: #fff !important;
}
.disabled:hover {
  cursor: wait !important;
}
