.el-dialog__close {
  color: #21468f;
  border-radius: 50%;
  font-weight: 800;
  padding: 2px;
  border: 2px solid red !important;
  margin-top: 10px;
}
.el-icon-loading {
  font-size: 40px;
}
.el-input__icon {
  font-style: normal;
}
.leftTab .el-submenu__title {
  padding-left: 5px!important;
  padding-right: 0px;
}
.leftTab .el-menu-item {
  padding: 0px!important;
  text-align: right;
  min-width: 0!important;
  width: 100%;
  padding-right: 10px!important;
}
.leftTab .el-menu-item-group__title {
  display: none;
}
#logReg .is-top {
  border-radius: 9px;
}
#logReg .el-tabs__content {
  padding: 5px 10px;
  padding-top: 10px;
}
#logReg .el-form-item__label {
  text-align: right;
  width: 38px!important;
  padding: 0;
  font-size: 14px;
}
#logReg .el-form-item__content {
  margin-left: 34px!important;
  text-align: left;
}
.regBox .el-form-item {
  margin-bottom: 5px;
}
#logReg .el-input__inner {
  height: 37px;
  padding: 0 8px;
  font-size: 13px;
}
.el-popup-parent--hidden {
  padding-right: 0px !important;
}
.notifyMessage {
  width: 250px!important;
}
.notifyMessage i {
  width: 15px;
  height: 15px;
  font-size: 15px;
}
.notifyMessage .el-notification__group {
  margin-left: 5px;
}
.notifyMessage .el-notification__group h2 {
  font-size: 14px;
  color: #6262d6;
}
.notifyMessage .el-notification__group div.el-notification__content {
  line-height: 18px;
  font-size: 13px;
}
.notifyMessage .el-notification__group div.el-notification__closeBtn {
  top: 11px;
}
#notice .el-card__header {
  padding: 10px 15px 10px 10px;
}
.loginRow3 button {
  padding: 8px 8px;
  font-size: 14px;
}
#basicInfo .el-input__inner {
  height: 25px;
  line-height: 15px;
  font-size: 13px;
  padding: 0;
  text-indent: 6px;
}
#basicInfo .el-radio__label {
  font-size: 13px;
}
#basicInfo .el-input__suffix {
  top: 7px;
}
#app .el-menu--horizontal,
.el-menu--horizontal {
  border-bottom: 0px;
}
.avatar-uploader .el-upload {
  border: 2px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: red;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.avatar {
  width: 100px;
  height: 100px;
  display: block;
}
