.icon_image{
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
  &.icon_head{
    background-image:url('../../assets/home.png');
  }
  &.icon_vip6{
    background-image:url('../../assets/vip6.png');
  }
  &.icon_hot{
    background-image:url('../../assets/hot.png');
  }  
  &.icon_max{
    background-image:url('../../assets/maxlv.png');
  }
  &.icon_man{
    background-image:url('../../assets/man.png');
  } 
  &.icon_woman{
    background-image:url('../../assets/woman.png');
  }     
}