.icon_image{
  margin-right: -4px;
  background-size: 18px 18px;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  &.icon_head{
    background-image:url('../../assets/home.png');
  }
  &.icon_vip6{
    background-image:url('../../assets/vip6.png');
  }
  &.icon_hot{
    background-image:url('../../assets/hot.png');
  }  
  &.icon_max{
    background-image:url('../../assets/maxlv.png');
  }
  &.icon_man{
    background-image:url('../../assets/man.png');
  } 
  &.icon_woman{
    background-image:url('../../assets/woman.png');
  }
  &.icon_avatar{
    background-image:url('../../assets/avatar.png');
  }    
  &.icon_hiring{
    background-image:url('../../assets/hiring.png');
  }
  &.icon_gender{
    background-image:url('../../assets/gender.png');
  }
  &.icon_id-card{
    background-image:url('../../assets/id-card.png');
  }
  &.icon_key{
    background-image:url('../../assets/key.png');
  }
  &.icon_promotion{
    background-image:url('../../assets/promotion.png');
  }                    
}