{% extends 'index.html' %}
{% block main %}
  <div style='position: relative;overflow: hidden;padding: 20px;'>
    <!-- 标题页 -->
    <div style='padding-left: 10px;'>
      <i class='iconfont icon icon-jia' style='margin-right: 5px;font-size: 18px!important;color: #c5698e;'></i>
      <!-- <span style='font-weight: 600;font-family: cursive;font-size:18px'>写博文</span> -->
      <span style='font-weight: 600;font-family: cursive;font-size:18px'>修改博文</span>
    </div>
    <!-- 彩条 -->
    <p class='colorStrip' style='background-color:#95648982'></p>
    <!-- 新增博文 -->
    <form class='toAddBlog' action='/api/addBlog' method='POST' enctype="multipart/form-data">
      <div class='row'>
        <span>博文标题：</span>
        <input type="text" id='blog_title' name='blog_title' value={{blogData.blogTitle}}>
      </div>
      <div class='row'>
        <span>请选择分类：</span>
        <select name="class" id="blog_class">
          <option value="1">大花水东哥</option>
        </select>
      </div>
      <div class='row'>
          <span style='vertical-align: top;padding-top: 2px'>引语：</span>
          <textarea name="yinyu" id="blog_qua" cols="80" rows="3" maxlength=300>{{blogData.blogDesc}}</textarea>
      </div>
      <div class='row'>
          <span>插图：</span>
          <div class='illRow'>
            <button id='toChangeIll' class='danger'>如果你要修改插图，请点击这里</button>
          </div>
      </div>
      <div class='row'>
          <span style='vertical-align: top;padding-top: 2px'>预览图：</span>
          <img src="" id="show" width="200"
          data-src={{blogData.illustration}} 
          onerror='javascript:this.src="/data/timg.jpg"'>
      </div>
      <div class='row'>
        <span style='vertical-align: top;padding-top: 2px'>正文：</span>
        <div style='display:inline-block;' class='editor'>
          <div class='toolbar'>

          </div>
          <div id='editor'>
            {% autoescape %}
              {{blogData.text}}
            {% endautoescape %}
          </div>
        </div>
      </div>
      <div class='row'>
        <span style='vertical-align: top;padding-top: 2px'>
          预览内容：
        </span>
        <div id='preview' class='w-e-text'>
          
        </div>
      </div>
      <div class='row hidden'>
        <textarea name="submitHtml" id="sumbitHtml" cols="50" rows="50"></textarea>
      </div>
      <div class='row'>
        <span>写完了？</span>
        <button id='submitBlog' for='submit'>
          提交
        </button>
        <input type="submit" value="提交" id='submit' style='visibility: hidden;'>
      </div>
    </div>
  </form>
<script type="text/javascript" src="public/js/wangEditor.min.js"></script>
<link rel="stylesheet" href="public/css/common.css" type='text/css'>
<style>
  .toAddBlog {
    margin-top: 20px;
    padding: 20px;
    background-color: #e5e5ed;
  }
  .row {
    margin-bottom: 10px;
  }
  .row>span {
    display: inline-block;
    width: 80px;
    text-align: right;
    font-size: 13px;
  }
  .row>select {
    height: 25px;
    line-height: 25px;
  }
  #editor {
    background-color: #fff;
  }
  .illRow {
    display: inline-block;
    height: 28px;
    line-height: 28px;
  }
  .ill_label{
    float: left;
    font-size: 13px;
    padding: 0px 3px;
    background-color: #42b342;
    color: #fff;
  }
  #show {
    max-height: 160px;
  }
  #preview {
    width: 80%;
    box-sizing: border-box;
    overflow-y: auto;
    min-height: 500px;
    display: inline-block;
    background-color: #fff
  }
  .toolbar {
    border: 1px solid #ccc;
    width: 900px
  }
  #editor {
    border: 1px solid #ccc;
    height: 400px;
    width: 900px
  }
</style>
<script type='text/javascript'>
  var editor = window.wangEditor;
  var myEdiotr = new editor('.toolbar','#editor');
  myEdiotr.customConfig.menus = [
      'head',  // 标题
      'bold',  // 粗体
      'fontSize',  // 字号
      'fontName',  // 字体
      'italic',  // 斜体
      'underline',  // 下划线
      'strikeThrough',  // 删除线
      'foreColor',  // 文字颜色
      'link',  // 插入链接
      'list',  // 列表s
      'justify',  // 对齐方式
      'quote',  // 引用
      'emoticon',  // 表情
      'image',  // 插入图片
      'table',  // 表格
      'video',  // 插入视频
      'code',  // 插入代码
      'undo',  // 撤销
      'redo'  // 重复
  ];
  myEdiotr.customConfig.onchange = function (html) {
    // html 即编辑器中的内容
    console.log('onchange', html)
    $('#preview').html(html)
    $('#sumbitHtml').val(html)
  }
  myEdiotr.customConfig.uploadImgServer = '/api/addBlog_editor'
  myEdiotr.customConfig.uploadImgMaxLength = 1
  myEdiotr.customConfig.uploadImgMaxSize = 5 * 1024 * 1024
  myEdiotr.customConfig.uploadFileName = 'blogImg'
  myEdiotr.customConfig.uploadImgHooks = {
    customInsert: (insertImg, result, editor) => {
      console.log(result.data[0])
      insertImg(result.data[0])
    }
  }
  myEdiotr.create();
  function changepic() {
        var reads= new FileReader();
        f=document.getElementById('blog_ill').files[0];
        reads.readAsDataURL(f);
        reads.onload=function (e) {
            document.getElementById('show').src=this.result;
        };
  }
  document.getElementById('show').src = $('#show').data('src')
  $('#toChangeIll').click(() => {
    $('.illRow').html(
      `<input type='file' style='opacity: 0'
      id='blog_ill' name='illImg' 
      onchange='changepic(this)'
      accept='image/png, image/jpeg, image/gif, image/jpg'>
    <label for='blog_ill' class='ill_label' >上传图片</label>
    <div class='returnIll'>不修改必须点这里</div>`
    )
  })
  $('.returnIll').click(() => {
    $('.illRow').html(`<button id='toChangeIll' class='danger'>如果你要修改插图，请点击这里</button>`)
  })
</script>
{% endblock %}