{% extends 'index.html' %}
{% block main %}
  <div style='padding: 20px;'>
    <!-- 标题页 -->
    <div style='padding-left: 10px;'>
      <i class='iconfont icon icon-jia' style='margin-right: 5px;font-size: 18px!important;color: #c5698e;'></i>
      <span style='font-weight: 600;font-family: cursive;font-size:18px'>分类添加面板</span>
    </div>
    <!-- 彩条 -->
    <p class='colorStrip' style='background-color:#95648982'></p>
    <!-- 用户面板 -->
    <div class='userBorad' style='margin-top:20px;'>
      <table class='userTable'>
        <thead >
          <tr>
            <th class='br'>
              分类名称
            </th>
            <th  class='br'>
              创建者
            </th>
            <th class='br'>
              创建时间
            </th>
            <th  class='br'>
              博文总数
            </th>
          </tr>
        </thead>
        <tbody>
          {% for i,u in classList %}
          <tr class='trRow'>
            <td class='br'>
              {{ u.className }}
            </td>
            <td class='br'>
              {{ u.classAuthor }}
            </td>
            <td class='br'>
              {{ u.classDate|date('Y-m-d') }}
            </td>
            <td class='br'>
              200
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- 添加分类 -->
    <div class='toAdd'>
      <input type="text" id='class_name'>
      <p class='add-description'>请输入你想新添加的分类名称</p>
      <textarea id="class_decri" cols="30" rows="10" style='margin-bottom: 8px'></textarea>
      <p class='add-description'>请输入该分类的概述</p>
      <div class='classShow' style='margin-bottom: 5px;font-size: 14px'>
        <span style='color: #999'>是否显示：</span>
        <label for='showY'>是</label><input type='radio' name='isshow' id='showY' value='y'>
        <label for='showN'>否</label><input type='radio' name='isshow' id='showN' value='n'>
      </div> 
      <button id='addBtn'>添加</button>
    </div>
   {% include "./cover.html" %}
   {% include './tip.html' %}
<link rel="stylesheet" href="public/css/common.css" type='text/css'>
<style>
  .toAdd {
    margin-top: 15px
  }
  input[type='text'] {
    width: 200px;
    margin-bottom:10px;
  }
  .add-description {
    font-size: 13px;
    color: #999;
    margin-bottom: 5px;
  }
</style>
<script>
  $(() => {
    $('#addBtn').click(() => {
      if (!$('#class_name').val() || !$('#class_decri').val() || !$('input:radio:checked').val()){
        $('#tip, .cover').removeClass('hidden');
        $('.cover_tip').text('存在漏填项，请检查');
        return;
      }
      $.post('/api/addClass',{
        className:$('#class_name').val(),
        classDesc:$('#class_decri').val(),
        isShow:$('input:radio:checked').val()==='y'?'是':'否'
      },function(data) {
          $('#tip, .cover').removeClass('hidden');
          $('.cover_tip').text(data.message);
      })
    })
  })
</script>
{% endblock %}