{% extends 'index.html' %}
{% block main %}
  <div style='padding: 20px;'>
    <!-- 标题页 -->
    <div style='padding-left: 10px;'>
      <i class='iconfont icon icon-shezhi' style='margin-right: 5px;font-size: 18px!important;color: #ada824;'></i>
      <span style='font-weight: 600;font-family: cursive;font-size:18px'>请选择一篇博文进行操作</span>
    </div>
    <!-- 彩条 -->
    <p class='colorStrip' style='background-color:#c9c66777'></p>
    <!-- 用户面板 -->
    <div class='userBorad' style='margin-top:20px;'>
        <table class='userTable'>
            <thead >
              <tr>
                <th style='width:10%' class='br'>
                  
                </th>
                <th style='width:40%' class='br'>
                  博文名字
                </th>
                <th style='width:15%' class='br'>
                  创建者
                </th>
                <th style='width:15%' class='br'>
                  所属分类
                </th>
                <th style='width:10%' class='br'>
                  点赞数
                </th>
                <th style='width:10%' class='br'>
                  评论数
                </th>
              </tr>
            </thead>
            <tbody>
              {% for u in data %}
              <tr class='trRow'>
                <td class='br'>
                  <input type="checkbox"
                   class='blogChoice'
                   data-id={{u.id}} >
                </td>
                <td class='br'>
                  {{u.blogTitle}}
                </td>
                <td class='br'>
                  {{u.blogAhtuor}}
                </td>
                <td class='br'>
                    {{u.blogCate}}
                </td>
                <td class='br'>
                  50
                </td>
                <td class='br'>
                  50
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <!-- 点击下一步 -->
    <div style='margin-top:20px'>
      <button id='todo_blogChange'>下一步</button>
    </div>
    {% include "./cover.html" %}
    {% include './tip.html' %}
  </div>
<script>
  $(() => {
    $('#todo_blogChange').click(() => {
      const num = $('.blogChoice:checked').length;
      if ( num <= 3 && num >=1){
        const list = $('.blogChoice:checked');
        const idList = []
        list.each((i,a) => {
           const b = $(a).data('id')
           idList.push(b)
        })
        $.post('/api/delBlogList',{
            list: idList
        },(data) => {
          console.log(data)
          $('.cover').removeClass('hidden');
          $('#tip').removeClass('hidden');
          $('.cover_tip').text(data.message);
        })
      } else {
        $('#tip,.cover').removeClass('hidden');
        $('.cover_tip').text('每次只能选择一篇到三篇博文进行删除');
      }
    })
  })
</script>
{% endblock %}