{% extends 'index.html' %}
{% block main %}
  <div style='position: relative;height:100%'>
    <!-- 标题页 -->
    <div style='padding-left: 10px;'>
      <i class='iconfont icon icon-xiugai' style='margin-right: 5px;font-size: 18px!important;color: purple;'></i>
      <span style='font-weight: 600;font-family: cursive;font-size:18px'>分类修改</span>
    </div>
    <!-- 彩条 -->
    <p class='colorStrip' style='background-color:#bd7fdd82'></p>
    <!-- 修改面板 -->
    <div class='modify'>
      <p>当前分类名称：<span class='className'>天命七羽之天雷硬件</span></p>
      <div>
        <span>更名为:</span>
        <input type="text">
      </div>
      <div>
          <button>确认更改</button>
          <button class='danger'>将其删除</button>
      </div>
    </div>
  </div>
<style>
  .modify {
    margin-top: 20px;
  }
  .modify>p {
    height: 30px;
    padding: 5px 0;
    line-height: 30px;
    font-size: 16px;   
  }
  .modify>div {
    margin-top: 20px;
  }
  .className {
    font-weight: 700;
    font-size: 20px;
    color: red;
    font-family: monospace;
  }
  .modify button {
    margin-right: 10px;
  }
</style>
<link rel="stylesheet" href="public/css/common.css" type='text/css'>
{% endblock %}