{% extends 'index.html' %}
{% block main %}
  <div style='position: relative;height:100%;padding: 20px;'>
    <!-- 标题页 -->
    <div style='padding-left: 10px;border-bottom: 1px solid #000;padding-bottom: 5px'>
      <i class='iconfont icon icon-shezhi' style='margin-right: 5px;font-size: 18px!important;color: red;'></i>
      <span style='font-weight: 600;font-family: cursive;font-size:18px'>操作结果</span>
    </div>
    <!-- 提示信息 -->
    <div class='tip warn' style='margin-top: 20px;'>
      恭喜你，该分类已被成功删除。
    </div>
  </div>
<link rel="stylesheet" href="public/css/common.css" type='text/css'>
<style>
  .tip{
    height: 50px;
    line-height: 50px;
    font-size: 15px;
    text-indent: 10px;
  }
  .success {
    background-color: #a1c7a1
  }
  .warn {
    background-color: #d57777;
    color: #fff;
  }
</style>
{% endblock %}